@model CDataTable;
@using RAMMS.Web.UI.Models;
@using RAMMS.Business.ServiceProvider;
@{
    ViewData["Title"] = "Asset Maintenance - Form S1 - Road Asset Management and Maintenance System";
    ViewBag.TabTitle ="ASSET MAINTANENCE - Form S1 - Road Asset Management and Maintenance System";
    Layout = "~/Views/Shared/_PortalLayout.cshtml";
}
@inject RAMMS.Business.ServiceProvider.Interfaces.ISecurity security;
@section Scripts{
    <script type="text/javascript" src="~/assets/js/Views/FormS1.js" asp-append-version="true"></script>
}
@{
    Html.RenderPartial("_breadcrumb", new BreadCrumb()
    {
        Title = "Form S1",
        SimpleNavigation = "Home,Asset Maintenance,Form S1"
    });
}
<!-- Search Section -->
<div class="search-section">
    <div class="row justify-content-center mb-1">
        @{
            Html.RenderPartial("_SearchSection", new Tuple<string, string, string>(Model.Name, "#formS1Search", "KeySearch"));
        }
    </div>
    @*Detail Search Screen*@
    <div id="formS1Search" style="display:none;">
        <div class="row" id="formAAdvSearch" style="display:block">
            <form id="formADetailsearchForm" name="formADetailsearchForm">
                <div class="col-lg-8 offset-lg-2">
                    <div class="bg-white rounded float-left pt-3 pb-1 px-lg-3 px-md-2 advance-search-group w-100">
                        <div class="row">
                            <div class="form-group col-md-3">
                                @Html.Label("RMU ", "RMU ")
                                @Html.DropDownList("RMU", (IEnumerable<SelectListItem>)ViewData["RMU"], "Select RMU", new { @Id = "formADetSrchRMU", @class = "form-control", @param = "RMUCode" })
                            </div>
                            <div class="form-group col-md-3">
                                @Html.Label("From_Date", "From Date (DD-MM-YYYY)")
                                <input type="date" id="dtFromDate" min="2019-01-01" max="2099-12-31" value="" class="form-control disableinput" param="fromDate" onfocusout = "onFocusOut();" />
                            </div>
                            <div class="form-group col-md-3">

                                @Html.Label("To_Date", "To Date (DD-MM-YYYY)")
                                <input type="date" id="dtToDate" min="2019-01-01" max="2099-12-31" value="" class="form-control disableinput" param="toDate" onfocusout = "onFocusOut();" />
                            </div>
                            <div class="form-group col-md-3">
                                @Html.Label("WeekNo", "Week No")
                                @Html.DropDownList((IEnumerable<CSelectListItem>)ViewData["Week_No"], "Week_No", "Select Week No", new { @Id = "drpWeekNo", @class = "form-control searchdropdown", @param = "WeekNo" })
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- Main Container -->
<main id="main-container" class="row">
    <div class="col-lg-12">
        <div class="w-100 float-left position-relative">

            @if (security.IsPCModify(ModuleNameList.Routine_Maintanance_Work))
            {
                <div class="grid-btns">
                    <button type="button" class="btn btn-sm btn-themebtn" onclick="window.location=_APPLocation + 'FormS1/Add'"><span class="add-icon"></span> Add Form S1</button>
                </div>
            }

        </div>
        <div class="w-100 float-left position-relative">
            @{
                Html.RenderPartial("_CDataTable", Model);
            }
        </div>
    </div>
</main>
<script type="text/javascript">
    function onFocusOut() {
        //debugger;
      
        var frmdate = $("#dtFromDate").val();
        if (frmdate != "") {
        d = new Date(frmdate);    
        var frmYear = d.getFullYear();
        if (frmYear < 2019 || frmYear > 2099) {
            app.ShowErrorMessage('Year should between 2019 to 2099')
            //$("#dtFromDate").val('');
            $("#dtFromDate").focus();
            $('[searchsectionbtn]').attr("disabled", true);
        }
        else {
            $('[searchsectionbtn]').attr("disabled", false);
            }
        }

        var todate = $("#dtToDate").val();
        if (todate != "") {
        x = new Date(todate);
        var toYear = x.getFullYear();
        if (toYear < 2019 || toYear > 2099 && todate!="") {
            app.ShowErrorMessage('Year should between 2019 to 2099')
            //$("#dtFromDate").val('');
            $("#dtToDate").focus();
            $('[searchsectionbtn]').attr("disabled", true);
        }
        else {
            $('[searchsectionbtn]').attr("disabled", false);
            }
        }
    }
</script>
