@{
    ViewData["Title"] = "NOD - Form A - Road Asset Management and Maintenance System";
    ViewBag.TabTitle = "NOD - Form A - Road Asset Management and Maintenance System";
    Layout = "~/Views/Shared/_PortalLayout.cshtml";
}
@inject RAMMS.Business.ServiceProvider.Interfaces.ISecurity security;
@model RAMMS.Web.UI.Models.FormAModel;
<script type="text/javascript">
    $(document).ready(function () {
        $("#formAAdvSearch").hide();
        $('#formADetSrchRMU').trigger("chosen:updated");
      //  searchHeaderList();

        document.getElementById("FormASmartSearch").focus();
        //Listener for Smart and Detail Search
        element = document.querySelector("#detailSearch");
        element.addEventListener("keyup", () => {
            if (event.keyCode === 13) {
                $('#formASearchBtn').trigger('click');
            }
        });
        $("#FormASmartSearch").keyup(function () {
            if (event.keyCode === 13) {
                $('#formASearchBtn').trigger('click');
            }
        })

        ////$('#formAFromKm').keypress(function (event) {
        ////    var keycode = (event.keyCode ? event.keyCode : event.which);
        ////    if (keycode == '13') {
        ////        $("#formASearchBtn").click();
        ////    }
        ////    event.stopPropagation();
        ////});

        ////$('#formAFromM').keypress(function (event) {
        ////    var keycode = (event.keyCode ? event.keyCode : event.which);
        ////    if (keycode == '13') {
        ////        $("#formASearchBtn").click();
        ////    }
        ////    event.stopPropagation();
        ////});

        ////$('#formAToKm').keypress(function (event) {
        ////    var keycode = (event.keyCode ? event.keyCode : event.which);
        ////    if (keycode == '13') {
        ////        $("#formASearchBtn").click();
        ////    }
        ////    event.stopPropagation();
        ////});

        ////$('#formAToM').keypress(function (event) {
        ////    var keycode = (event.keyCode ? event.keyCode : event.which);
        ////    if (keycode == '13') {
        ////        $("#formASearchBtn").click();
        ////    }
        ////    event.stopPropagation();
        ////});
    });

    function openFormAModel(pid, title) {
        //debugger
        //var AssetTypeName = '@ViewBag.AssetType';
            $("body").addClass("loading");
            var filterData = new Object();
            filterData.HeaderNo = pid;

            if (pid != 0 && title != "" && title !=null) {
                $('#FormAAddModalid').text("Edit Form A Detail | Ref-" + title);

            }
            else {
                $('#FormAAddModalid').text("Add Form A Detail");
            }
            $.ajax({
                url: '/NOD/HeaderListEdit',
                //url: '/NOD/DetailedListEdit',
                data: { filterData },
                type: 'POST',
                success: function (data) {
                    $("#div-data-container").html(data);
                    var e = $('#divDetails');
                    var d = $("#addFADBtn");
                    var s = $("#saveFormABtn");
                    var su = $('#SubmitFormABtn');
                    if (pid != 0 && e != undefined) {
                        $('#searchHeaderBtn').hide();
                        $(".editdisable").prop("disabled", true);
                        e.show();
                        d.show();
                        s.show();
                        su.show();
                        InitializeGrid(pid);
                    }
                    else if (e != undefined) {
                        //e.hide();
                        e.show();
                        d.hide();
                        s.hide();
                        su.hide();
                        InitializeGrid(0);
                    }
                    else {
                        InitializeGrid(0);
                    }
                    //if (view == 1) {
                    //    $("#div-data-container *").attr("disabled", "disabled").off('click');
                    //    $("#div-data-container").addClass("disableAssetImageAddBtn");
                    //}
                    //else {
                    //    $("#div-data-container").removeClass("disableAssetImageAddBtn");
                    //}
                    $("body").removeClass("loading");
                }
            });
        }

    function ViewDetailHeader(pid, title) {
        var filterData = new Object();
        filterData.HeaderNo = pid;
        if (title != "") {$('#FormAAddModalid').text("View Form A Detail | Ref-" + title); }
        else { $('#FormAAddModalid').text("View Form A Detail");}
        $.ajax({
            url: '/NOD/HeaderListEdit',
            //url: '/NOD/DetailedListEdit',
            data: { filterData },
            type: 'POST',
            success: function (data) {
                //$("#FormAAddModal").modal("show");
                $("#div-data-container").html(data);
                $(".disableinput").prop("disabled", true);

                var e = $('#divDetails');
                if (pid != 0 && e != undefined) {
                    $("#IsViewDetail").val("1");
                    $("#addFADBtn").hide();
                    $("#saveFormABtn").hide();
                    $("#SubmitFormABtn").hide();
                    $('#searchHeaderBtn').hide();
                    e.show();
                    InitializeGrid(pid);
                }
                else if (e != undefined) {
                    //e.hide();
                    e.show();
                }
                //if (view == 1) {
                //    $("#div-data-container *").attr("disabled", "disabled").off('click');
                //    $("#div-data-container").addClass("disableAssetImageAddBtn");
                //}
                //else {
                //    $("#div-data-container").removeClass("disableAssetImageAddBtn");
                //}
                $("body").removeClass("loading");                
            }
        });
    }

    function detailSearch() {
        $("#formAAdvSearch").slideToggle(500);
    }

    function searchHeaderList() {
        var filterData = new Object();
        filterData.SmartInputValue = $("#FormASmartSearch").val();
        filterData.Rmu = $("#formADetSrchRMU").val();
        filterData.section = $("#formADetSrchSec").val();
        filterData.RoadCode = $("#formADetSrchRoadCode").val();
        filterData.AssetGroupCode = $("#formADetSrchAsstGrp").val();
        filterData.Month = $("#formADetSrchMonth").val();
        //filterData.FromCh = $("#DetSrchChFrom").val();
        //filterData.ToCh = $("#DetSrchChTo").val();
        $("body").addClass("loading");
        $.ajax({
            url: '/NOD/SearchHeaderList',
            data: filterData,
            type: 'POST',
            success: function (data) {

                $("#headerListGrid").html(data);
                $("body").removeClass("loading");
            }
        });
    }

    function DeleteHeaderRecord(id) {
        var headerId = id;
        app.Confirm("Are you sure you want to delete the record?, If Yes click OK.", function (e) {
            if (e) {
                $("body").addClass("loading");
                $.ajax({
                    url: '/NOD/HeaderListDelete',
                    data: { headerId },
                    type: 'POST',
                    success: function (data) {
                        if (data > 0) {
                            $("body").removeClass("loading");
                            app.ShowSuccessMessage("Successfully Deleted");
                            searchHeaderList();
                        }
                        else {
                            alert("Error in Deleted. Kindly retry later.");
                            $("body").removeClass("loading");
                        }
                    }
                });
            }
        });
    }


    function EditHeaderRecord(id){
        var headerId = id;
        localStorage.setItem("headeridvalue", headerId);

        window.location = "@Url.Action("HeaderListEdit", "NOD")" +
                "?headerId=" + headerId;

        ////$("body").addClass("loading");
        //$.ajax({
        //    url: '/NOD/HeaderListEdit',
        //    data: { headerId },
        //    type: 'POST',
        //    success: function (data) {
        //  //   $("#DetailListGrid").html(data);

        //        //$("body").removeClass("loading");
        //}
        //});
    }

</script>
@{
    var isModifyPerm = security.IsPCModify(ModuleNameList.NOD) ? "" : "hidden";
    var isDeletePerm = security.IsPCDelete(ModuleNameList.NOD) ? "" : "hidden";
}
@using (Html.BeginForm())
{
    //BreadCrumbs
    <div class="row">
        <div class="body-header w-100">
            <div class="col-lg-12">
                <div class="w-100 d-flex justify-content-md-between py-2 align-items-center">
                    <span class="mb-0 font-weight-bold font-20">NOD - Form A</span>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb breadcrumb-alt mb-0 bg-transparent">
                            <li class="breadcrumb-item">Home</li>
                            <li class="breadcrumb-item">Notification of Defect</li>
                            <li class="breadcrumb-item" aria-current="page">
                                Form A
                            </li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>

    <!-- Search Section -->
    <div class="search-section">
        <div class="row justify-content-center mb-1">
            <div class="col-sm-12 col-md-8 col-lg-6 col-xl-6 search-content">
                <div class="input-group">
                    @Html.TextBoxFor(m => m.SearchObj.SmartInputValue, new { @Id = "FormASmartSearch", placeholder = "Search...", @class = "form-control" })
                    <div class="input-group-append">
                        <div class="btn-group">
                            <button id="formASearchBtn" type="button" class="bg-theme-color js-tooltip-enabled px-2 border-0" style="line-height: 18px;"><span class="search-icon"></span></button>
                            <button id="formASearchExpBtn" type="button" onclick="detailSearch()" class="bg-theme-color js-tooltip-enabled px-3 border-0"><span class="filter-icon"></span></button>
                            <button id="formASearchClearBtn" type="button" onclick="clearHeaderSearch()" class="bg-theme-color js-tooltip-enabled px-3 border-0 rounded-right">Clear</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        @*Detail Search Screen*@
        <div id="detailSearch">
            <div class="row" id="formAAdvSearch" style="display:block">
                <form id="formADetailsearchForm" name="formADetailsearchForm">
                    <div class="col-lg-10 offset-lg-1">
                        <div class="bg-white rounded float-left pt-3 pb-1 px-lg-3 px-md-2 advance-search-group w-100">
                            <div class="form-group">
                                @Html.Label("RMU ", "RMU ")
                                @Html.DropDownListFor(Ahdr => Ahdr.SearchObj.RMU, (IEnumerable
                                 <SelectListItem>)ViewData["RMU"], "Select RMU", new { @Id = "formADetSrchRMU", @class = "form-control" })
                            </div>
                            <div class="form-group">
                                @Html.Label("Section Code ", "Section Code")
                                @Html.DropDownListFor(Ahdr => Ahdr.SearchObj.Section, (IEnumerable
                                <SelectListItem>)ViewData["Section_Code"], "Select Section", new { @Id = "formADetSrchSec", @class = "form-control searchdropdown" })
                            </div>
                            <div class="form-group">
                                @Html.Label("Section Name ", "Section Name")
                                @Html.TextBoxFor(Ahdr => Ahdr.SearchObj.Section, new { @Id = "formADetSrchSecName", @class = "form-control", @disabled = "disabled", @maxlength = "5" })

                            </div>
                            <div class="form-group">
                                @Html.Label("Road Code ", "Road Code")
                                @Html.DropDownListFor(Ahdr => Ahdr.SearchObj.Road_Code, (IEnumerable
                                <SelectListItem>)ViewData["RD_Code"], "Select Road Code", new { @Id = "formADetSrchRoadCode", @class = "form-control searchdropdown widget-content-area" })
                            </div>
                            <div class="form-group">
                                @Html.Label("Road Name ", "Road Name")
                                @Html.TextBoxFor(Ahdr => Ahdr.SearchObj.Road_Code, new { @Id = "formADetSrchRoadName", @class = "form-control", @disabled = "disabled", @maxlength = "5" })

                            </div>
                            <div class="form-group">
                                @Html.Label("Asset Group ", "Asset Group")
                                @Html.DropDownListFor(Ahdr => Ahdr.SearchObj.Asset_GroupCode, (IEnumerable
                                <SelectListItem>)ViewData["AssetListing"], "Select Asset", new { @Id = "formADetSrchAsstGrp", @class = "form-control" })
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-6 float-left pr-0">
                                        @Html.Label("Month (MM)", "Month (MM)")
                                        @Html.DropDownListFor(Ahdr => Ahdr.SearchObj.Month, (IEnumerable
                                         <SelectListItem>)ViewData["Months"], "Month", new { @Id = "formADetSrchMonth", @class = "form-control" })
                                    </div>
                                    <div class="col-1 float-left p-0 text-center font-weight-bold pt30px">/</div>
                                    <div class="col-5 float-left pl-0">
                                        @Html.Label("Year (YYYY)", "Year (YYYY)")
                                        @Html.DropDownListFor(Ahdr => Ahdr.SearchObj.Year, (IEnumerable
                                        <SelectListItem>)ViewData["Year"], "Year", new { @Id = "formADetSrchYear", @class = "form-control" })
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.Label("Location Chainage From", "Location Chainage From")
                                <div class="row">
                                    <div class="col-6 float-left pr-0">
                                        @*@Html.Label("Km", "Km")*@
                                        @Html.TextBoxFor(Ahdr => Ahdr.SearchObj.ChinageFromKm, new { @Id = "formAFromKm", @class = "form-control", @maxlength = "5", @onkeypressvalidate = "number, Location Chainage From Km" })
                                    </div>
                                    <div class="col-1 float-left p-0 text-center font-weight-bold lh30">+</div>
                                    <div class="col-5 float-left pl-0">
                                        @*@Html.Label("m", "m")*@
                                        @Html.TextBoxFor(Ahdr => Ahdr.SearchObj.ChinageFromM, new { @Id = "formAFromM", @class = "form-control", @maxlength = "3", @onkeypressvalidate = "number, Location Chainage From m" })
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.Label("Location Chainage To", "Location Chainage To")
                                <div class="row">
                                    <div class="col-6 float-left pr-0">
                                        @*@Html.Label("Km", "Km")*@
                                        @Html.TextBoxFor(Ahdr => Ahdr.SearchObj.ChinageToKm, new { @Id = "formAToKm", @class = "form-control", @maxlength = "5", @onkeypressvalidate = "number, Location Chainage To Km" })
                                    </div>
                                    <div class="col-1 float-left p-0 text-center font-weight-bold lh30">+</div>
                                    <div class="col-5 float-left pl-0">
                                        @*@Html.Label("m", "m")*@
                                        @Html.TextBoxFor(Ahdr => Ahdr.SearchObj.ChinageToM, new { @Id = "formAToM", @class = "form-control", @maxlength = "3", @onkeypressvalidate = "number, Location Chainage To m" })
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- Main Container -->
    <main id="main-container" class="row">
        <div class="col-lg-12">
            <div class="w-100 float-left position-relative">
                @if (security.IsPCModify(ModuleNameList.NOD))
                {
                    <div class="grid-btns">
                        <button type="button" @isModifyPerm class="btn btn-sm btn-themebtn" data-toggle="modal" data-target="#FormAAddModal" data-backdrop="static" onclick="javascript:openFormAModel(0);"><span class="add-icon"></span> Add</button>
                    </div>
                }


                @* Add Form A Modal *@
                <div class="modal fade" id="FormAAddModal" tabindex="-1" role="dialog" aria-labelledby="FormAAddModalid" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered modal-custom" role="document">
                        <div class="modal-content bg-body">
                            <div class="modal-header bg-white">
                                <h5 class="modal-title" id="FormAAddModalid">Add Form A</h5>
                                <button type="button" class="close" onclick="javascript: $('#formASearchBtn').click();" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            </div>
                            @* Patial View for add Class to bind data in partial view *@
                            <div id="div-data-container" class="w-100 float-left">
                                @{
                                    //Html.RenderPartial("_AddFormAView.cshtml");
                                }
                            </div>
                        </div>
                    </div>
                </div>


                @*<div id="headerListGrid">

                    </div>*@

                <div id="headerListGrid" class="w-100 dt-tbl-section">
                    @{
                        Html.RenderPartial("_HeaderListGrid.cshtml");
                    }
                </div>

            </div>
        </div>
    </main>
}
<script type="text/javascript" src="~/js/Landing.js" asp-append-version="true"></script>
@if (ViewBag.ViewId != null && ViewBag.ViewId != "")
{
    <script type="text/javascript">
        $(function () {
            setTimeout(function () {
                $("#FormAAddModal").modal();
                ViewDetailHeader(@ViewBag.ViewId, "");
            }, 1000);
        });
    </script>
}